@import '../../styles/index';

.input {
  &__native {
    width: 100%;
    padding: 10px;
    border: 1px solid get-color(input, border-color);
    border-radius: $global-border-radius;
    font-size: 1rem;
    &:focus {
      border-color: get-color(input, border-color-focus);
      color: get-color(input, font-color-focus);
      &::placeholder {
        color: get-color(input, placeholder-color-focus);
      }
    }
    &::placeholder {
      color: get-color(input, placeholder-color);
    }
  }
  &_invalid {
    .input__native {
      border-color: get-color(global, danger);
      color: get-color(global, danger);
      &:focus {
        border-color: get-color(global, danger);
        color: get-color(global, danger);
        &::placeholder {
          color: get-color(global, danger);;
        }
      }
    }
  }
}