@import '../../styles/index';

.button {
  background: transparent;
  border: 1px solid #efefef;
  border-radius: $global-border-radius;
  padding: 0.8rem;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  background: none;
  transition: background-color 400ms;
  outline: none;
  &_disabled {
    opacity: 0.4;
    cursor: default;
  }
  &_submit {
    color: get-color(global, success-font-color);
    border-color: get-color(global, success);
    background-color: get-color(global, success);
    &:hover {
      background-color: get-color(global, success-hover);
      border-color: get-color(global, success-hover);
    }
    &:focus {
      background-color: get-color(global, success-focus);
      border-color: get-color(global, success-focus);
    }
  }
  &:active {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

@keyframes rippleDrop {
  100% {
    opacity: 0;
    transform: scale(20);
  }
}
